html, body{
	scroll-behavior: smooth; /* for smooth scroll back to top of page */
	position: relative;
	height: auto; /* for a responsive layout -- */
	width: 100%;
	margin: 0;
	overflow-x:hidden;
	font-size: 100%;
	max-width: 100vw;
	min-height: 100vh;	/* ---*/
}
.center{
	margin: auto;
	width: 50%;
	text-align: center;
}
.discord-btn{ /* for the discord button in the main page */
    	text-decoration: none;
    	color: black;
}
.bt-left{ /* for the 'back to top' button, which is placed in the bottom left corner */
	position:fixed;
	bottom:2%;
	left:1%;
	max-width: 100%;
	height:auto;
	float:left;
	border-radius: 0.8em;
      	cursor: pointer;
    	border: 1px solid #000;
}
button{
	max-width: 100%;
	height:auto;
}


/* also for a responsive layout -- */
@media only screen and (max-device-width: 900px) {
	body{font-size: 1.2em;}
	button{font-size:65%;}
}
@media only screen and (max-device-width: 700px) {
	body{font-size: 1.4em;}
	button{font-size:65%;}
}
@media only screen and (max-device-width: 500px) {
	body{font-size: 1.5em;}
	button{font-size:65%;}
}
@media only screen and (max-device-width: 400px) {
	body{font-size: 1.6em;}
	button{font-size:70%;}
}
