:root{
	--gutter:3rem;
	--max-widthC:calc( 100% - var(--gutter) );
}

html{
	height:100%;
	width:100%;
	overflow-x:hidden;
}

body{
	margin:0;
	min-width:100%;
	height:auto;
	font-size:1rem;
}

html, body{
	scroll-behavior: smooth; /* for smooth scroll back to top of page */
	position: relative;
}

.container{
	margin-left: var(--gutter);
	margin-right: var(--gutter);
	margin-top: 1vh;
	margin-bottom: 1vh;
	padding:1vmax 0;
	text-align:center;
	
	position: fixed;
	
	max-width:calc(var(--max-width-calc) - 10rem);
	width:75%;
	max-height:calc(var(--max-width-calc) - 10rem);
	height:auto;
	display: flex;
	flex-direction: column;
	min-height: 100%;
	
	box-sizing: border-box;
}

@media (max-width: 630px) { 
	.container{
		position:absolute;
		min-width:100%;
		height:100vh;
		margin:0;
		top:0px;
		right:1vw;
		bottom:0px;
		left:1vw;
		overflow-x: hidden;
		border-width:0px;
	}
}

.center{
	margin: auto;
	width: 50%;
	text-align: center;
}
.discord-btn{ /* for the discord button in the main page */
    	text-decoration: none;
    	color: black;
}
.bt-left{ /* for the 'back to top' button, which is placed in the bottom left corner */
	position:fixed;
	bottom:2%;
	left:1%;
	max-width: 100%;
	height:auto;
	float:left;
	border-radius: 0.8em;
      	cursor: pointer;
    	border: 1px solid #000;
}
button{
	max-width: 100%;
	height:auto;
}



